# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/estacao_do_chopp"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"

# App URL (used for QR code generation)
NEXT_PUBLIC_APP_URL="http://localhost:3000"
