FOCCO_BASE_URL=http://10.5.5.14/proweb/FoccoIntegrador/api/v1/Exportacao
FOCCO_APONTAMENTO_URL=http://10.5.5.14:9096/api/v1/manufatura/controle-producao/apontamento
FOCCO_CHAVE=5401023729

NEXT_PUBLIC_APP_TITLE=Painel de Produção
NEXT_PUBLIC_LOGO_URL=
NEXT_PUBLIC_PRIMARY_COLOR=#6366F1

SETTINGS_PASSWORD=admin123
